PORT=5001
FRONTEND_URL=https://www.infomeya.com,https://infomeya.com,https://aspl.vercel.app,http://localhost:5173,http://localhost:3000


CONTACT_TO_EMAIL=info@infomeya.com
CONTACT_FROM_EMAIL=info@infomeya.com
HR_TO_EMAIL=hr@infomeya.com
NEWSLETTER_TO_EMAIL=info@infomeya.com
CAREERS_ADMIN_TOKEN=change-me-careers-admin-token
BLOG_ADMIN_TOKEN=change-me-blog-admin-token

GRAPH_FROM_EMAIL=info@infomeya.com
GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=


CMS_DATA_DIR=./data
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=aspl/blog
